@charset "utf-8";

/*============================================================
header
============================================================*/


/*============================================================
footer
============================================================*/
footer {
    background-color: #eee;
}
.cmn-btn__footer {
    top: 35.55%;
    right: 0;
    width: 20.91%;
    height: 30%;
}

/*============================================================
common content style
============================================================*/
figure {
    position: relative;
}
/* button
============================================================*/
[class^="cmn-btn__"] {
    display: inline-block;
    position: absolute;
    /* background-color: rgba(255, 0, 0, 0.5); */
}

/*============================================================
main
============================================================*/
/* visual
============================================================*/
.vsl-area {
    background: url("../images/common/visual-background.png");
}
[class^="cmn-btn__lang"] {
    top: 2.15%;
    width: 5.9%;
    height: 2.5%;
}
.cmn-btn__lang-kor {
    right: 6.27%;
}
.cmn-btn__lang-eng {
    right: 0;
}
/* intro
============================================================*/
.intro-area {
    background-color: #12483b;
}
.intro-area [class^="cmn-btn__"] {
    top: 50.83%;
    width: 34.1%;
    height: 21%;
}
.cmn-btn__homepage {
    left: 15.18%;
}
.cmn-btn__download {
    left: 50.36%;
}
/* content
============================================================*/
.cont-area {
    padding: 7rem 0 6.5rem;
}
.cmn-btn__apply {
    bottom: 0;
    left: 31.1%;
    width: 37.73%;
    height: 2.4%;
}
[class^="tab-cont__"] {
    display: none;
}

/*============================================================
apply
============================================================*/
#inputNationality {
    display: none;
}