<!Doctype html>
<html lang="ko">

<head>
    <title>한-아랍 스타트업 아이디어 공모전</title>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="IE=edge">
    <meta name="viewport"
        content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
    <meta name="format-detection" content="telephone=no"> <!-- remove phone number style in micrtEdge -->
    <meta name="naver-site-verification" content="0b5110f07ebe5d679a4001a94f3971ea07c13396">
    <meta name="google-site-verification" content="kVuyPK4XTftMl0ZWTSOXxObH7XBeXgeXglJI4MZpcgg">
    <meta name="author" content="univEBIZ_ZOoOe">
    <meta name="keywords" content="한-아랍 스타트업 아이디어 공모전, 한국 아랍, 아랍, 스타트업, 스타트업 아이디어 공모전, 한국-아랍 소사이어티, 아이디어 공모전">
    <meta name="description" content="아랍 지역 진출을 희망하는 혁신 스타트업 운영자 및 관련 아이디어를 가진 예비 창업자를 위한 아이디어 공모전">

    <meta property="og:type" content="website">
    <meta property="og:url" content="">
    <meta property="og:site_name" content="">
    <meta property="og:title" content="한-아랍 스타트업 아이디어 공모전">
    <meta property="og:description" content="아랍 지역 진출을 희망하는 혁신 스타트업 운영자 및 관련 아이디어를 가진 예비 창업자를 위한 아이디어 공모전">
    <meta property="og:image" content="../../content/images/share.png">
    <meta property="og:image:width" content="600">
    <meta property="og:image:height" content="315">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="">
    <meta property="twitter:title" content="한-아랍 스타트업 아이디어 공모전">
    <meta property="twitter:description" content="">
    <meta property="twitter:image" content="./../content/images/share.png">

    <link rel="shortcut icon" type="image/x-icon" href="../../content/images/favicon.ico"> <!-- Chrome, Safari, IE -->
    <link rel="icon" type="image/png" href="../../content/images/favicon.png"> <!-- Firefox, Opera -->

    <link href="../../content/styles/style.css" rel="stylesheet">
    <link href="../../content/styles/content.css" rel="stylesheet">

    <script src="../../content/scripts/jquery-3.5.1.min.js"></script>

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-179241450-13"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }
        gtag('js', new Date());
        gtag('config', 'UA-179241450-13');
    </script>
    <!-- //END Global site tag (gtag.js) - Google Analytics -->
    <!-- Google Tag Manager -->
    <script>
        (function (w, d, s, l, i) {
            w[l] = w[l] || [];
            w[l].push({
                'gtm.start': new Date().getTime(),
                event: 'gtm.js'
            });
            var f = d.getElementsByTagName(s)[0],
                j = d.createElement(s),
                dl = l != 'dataLayer' ? '&l=' + l : '';
            j.async = true;
            j.src =
                'https://www.googletagmanager.com/gtm.js?id=' + i + dl;
            f.parentNode.insertBefore(j, f);
        })(window, document, 'script', 'dataLayer', 'GTM-NZB5MZ4');
    </script>
    <!-- //End Google Tag Manager -->
</head>

<body>
    <!-- main START -->
    <main>
        <div class="vsl-area">
            <div class="grid1100">
                <figure>
                    <img src="../../content/images/kor/visual-image.png"
                        alt="한-아랍 스타트업 아이디어 공모전 | 공모기간 : 2021.7.5(Mon) ~ 2021.8.31(Tue) 16:00" class="lang-cont__kor">
                    <img src="../../content/images/eng/visual-image.png" alt="Korea-Arab
                        Startup Pitch Competition | Jul 5(Mon), 2021 ~ Aug 31(Tue), 2021" class="lang-cont__eng">
                </figure>
                <a href="javascript:void(0);" class="cmn-btn__lang-kor" onclick="showLangCont('kor');"><span
                        class="txt-hidden">국문 페이지 보기 버튼</span></a>
                <a href="javascript:void(0);" class="cmn-btn__lang-eng" onclick="showLangCont('eng');"><span
                        class="txt-hidden">영문 페이지 보기 버튼</span></a>
            </div> <!-- //grid -->
        </div> <!-- //visual area -->
        <div class="intro-area">
            <div class="grid1100">
                <div class="lang-cont__kor">
                    <figure>
                        <img src="../../content/images/kor/iintro-image.png" alt="한-아랍 스타트업 아이디어 공모전 소개 문구 이미지">
                    </figure>
                    <a href="http://www.korea-arab.org/" target="_blank" title="한국-아랍 소사이어티 홈페이지로 이동하기 (새 창 이동)"
                        class="cmn-btn__homepage"><span class="txt-hidden">한국-아랍 소사이어티 홈페이지 이동 버튼</span></a>
                    <a href="https://youtu.be/jRheKPQDRwA" target="_blank" title="아랍 관련 비즈니스 세미나 시청하기 (새 창 이동)"
                        class="cmn-btn__download"><span class="txt-hidden">아랍 관련 비즈니스 세미나 시청하기 버튼</span></a>
                </div>
                <div class="lang-cont__eng">
                    <figure>
                        <img src="../../content/images/eng/iintro-image.png" alt="한-아랍 스타트업 아이디어 공모전 소개 문구 이미지">
                    </figure>
                    <a href="http://eng.korea-arab.org/" target="_blank" title="한국-아랍 소사이어티 영문 홈페이지로 이동하기 (새 창 이동)"
                        class="cmn-btn__homepage"><span class="txt-hidden">한국-아랍 소사이어티 홈페이지 이동 버튼</span></a>
                    <!-- 0705 zoe 수정 -->
                    <!-- <a href="https://youtu.be/jRheKPQDRwA" target="_blank" title="아랍 관련 비즈니스 세미나 시청하기 (새 창 이동)" class="cmn-btn__download"><span class="txt-hidden">아랍 관련 비즈니스 세미나 시청하기 버튼</span></a> 0705 zoe 삭제 -->
                </div>
            </div> <!-- //grid -->
        </div> <!-- //intro area -->
        <div class="cont-area">
            <div class="grid1100">
                <div class="lang-cont__kor">
                    <ul class="tab-menu-list flex-box">
                        <li>
                            <a href="javascript:void(0);" class="tab-menu active" onclick="showTabCont('about');">공모
                                요강</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="tab-menu" onclick="showTabCont('faq');">자주하는 질문</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="tab-menu" onclick="showTabCont('qna');">1:1문의</a>
                        </li>
                    </ul> <!-- //tab menu -->
                    <figure class="tab-cont__about" style="display: block;">
                        <img src="../../content/images/kor/about-image.png" alt="공모요강 소개 이미지">
                        <a href="javascript:void(0);" class="cmn-btn__apply" onclick="openModal('modalLoginKor');"><span
                                class="txt-hidden">지원하기 버튼</span></a>
                    </figure>
                    <div class="tab-cont__faq">
                        <ul class="faq-list">
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>지원 자격에 나이 제한이 있나요?</strong>
                                </button>
                                <div class="faq-list-txt" style="display: block;">
                                    <p>본 공모전은 청년을 대상으로 하고 있으며, 만 34세까지 지원 가능합니다.</p> <!-- 0702 2차 zoe 수정 -->
                                </div>
                            </li>
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>팀 지원 시, 팀원은 몇 명까지 구성 가능한가요?</strong>
                                </button>
                                <div class="faq-list-txt">
                                    <p>팀 인원 수는 제한이 없습니다. 지원서 작성 시 역할 기재 란에 각 팀원이 맡은 역할에 대해 작성해주시면 됩니다.<br>이후 수상 시, 팀 당 최대 2명까지 지원 가능한 혜택이 있다는 부분에 대해서만 미리 인지해주세요.</p>
                                </div>
                            </li>
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>직장인도 참여 가능할까요?</strong>
                                </button>
                                <div class="faq-list-txt">
                                    <p>직장인도 참여 가능합니다.<br>다만 멘토링, 최종 프레젠테이션, 시상식 등 공모전 프로그램 참여에 차질이 없어야 합니다.</p> <!-- 0702 2차 zoe 수정 -->
                                </div>
                            </li>
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>팀원 중 외국인이 있는 경우, 참가 조건이 있을까요?</strong><!-- 0702 2차 zoe 수정 -->
                                </button>
                                <div class="faq-list-txt">
                                    <p>한국에 거주하는 아랍 청년이라면 나이(34세까지), 국적, 성별에 상관없이 누구나 참여 가능합니다.<br>외국인 지원 시, 외국인 등록증 및 만료이전 비자를 필수로 제출해주시기 바랍니다.</p><!-- 0702 2차 zoe 수정 -->
                                </div>
                            </li>
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>여러 나라 중에 우선 순위의 국가나 분야가 있나요?</strong>
                                </button>
                                <div class="faq-list-txt">
                                    <p>국가 및 분야의 우선 순위는 없습니다.<br>아랍과 관련된 참신한 아이디어가 있다면 국가와 분야 제한없이 지원 가능합니다.</p>
                                </div>
                            </li>
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>창업 아이템의 지적재산권은 한국-아랍 소사이어티에 귀속되나요?</strong> <!-- 0702 2차 zoe 수정 -->
                                </button>
                                <div class="faq-list-txt">
                                    <p>공모전에 제출한 창업 아이디어의 지적재산권 등 소유권은 재단이 아닌 참가자에게 귀속됩니다.</p>
                                </div>
                            </li>
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>함께 활동 중인 스타트업의 프로젝트 (타 공모전에서 수상한 적 없는 아이디어)도 지원 가능할까요?</strong>
                                </button>
                                <div class="faq-list-txt">
                                    <p>가능합니다. 본인의 아이디어가 반영되어 있어야 하며, 스타트업 대표가 아닌 경우 (개인이 회사의 아이디어로 지원하는 경우) 지적재산권, 특허 등의 문제 소지가 없는지 반드시 확인하셔야 합니다.</p> <!-- 0702 2차 zoe 수정 -->
                                </div>
                            </li>
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>가지고 있는 아이템이 아직 구체화되지 않은 아이디어 단계인데 본 공모전에 지원 할 수 있을까요?</strong>
                                </button>
                                <div class="faq-list-txt">
                                    <p>아이템이 구체화되지 않은 상태라도 1P 브리프 제안서를 작성하는 ‘아이디어 전형’에 지원 가능하며, 서류 합격 시 멘토링 및 프레젠테이션 과정을 통해 아이템을 디벨롭 할 수 있는 기회가 될 수 있습니다.</p><!-- 0702 2차 zoe 수정 -->
                                </div>
                            </li>
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>온라인 멘토링에는 누가 참여하나요?</strong>
                                </button>
                                <div class="faq-list-txt">
                                    <p>스타트업 지원 전문 기관 전문가 및 아랍 시장 전문가가 참여할 예정이며, 추후 진행 과정에서 보다 상세히 안내 드리겠습니다.</p>
                                </div>
                            </li>
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>두바이 엑스포 방문 혜택은 어떻게 진행되나요?</strong>
                                </button>
                                <div class="faq-list-txt">
                                    <p>스타트업 부문 1~3등 수상팀, 아이디어 부문 1등 팀에게 주어지는 혜택이며 (팀당 최대 2인) 희망하는 팀에 한하여, 방문에 필요한 절차와 철저한 준비를 거쳐 진행될 예정입니다.<br>(*두바이 엑스포 2021년 10월 ~ 2022년 3월 진행 예정)</p>
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-cont__qna">
                        <form>
                            <div class="grid720">
                                <div class="form-wrap">
                                    <div class="form-field">
                                        <div class="form-row pb30 txt-cnt">
                                            <p class="form-tip pl0">공모전과 관련하여 문의를 남겨주세요.<br>확인 후 메일로 답변 드립니다.</p>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-el-wrap__col flex-box">
                                                <label class="form-el-label" for="qnaName">이름</label>
                                                <div class="form-el-box">
                                                    <input type="text" class="form-el form-input-txt" id="qnaName">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-el-wrap__col flex-box">
                                                <label class="form-el-label" for="qnaEmail">메일 주소</label>
                                                <div class="form-el-box">
                                                    <input type="email" class="form-el form-input-txt" id="qnaEmail">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-el-wrap__col flex-box">
                                                <label class="form-el-label" for="qnaTxt">문의 내용</label>
                                                <div class="form-el-box">
                                                    <textarea class="form-el form-txtarea" id="qnaTxt"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-wrap pt0">
                                    <div class="form-field" style="border-top: 0;">
                                        <div class="form-row">
                                            <div class="form-el-wrap__row">
                                                <div class="form-chk__circ">
                                                    <input type="checkbox" id="qnaTermCheck">
                                                    <label class="form-chk-label" for="qnaTermCheck">개인정보 수집ㆍ이용에
                                                        동의합니다.</label>
                                                </div>
                                                <div class="form-term-box mt30">
                                                    <p>한-아랍 스타트업 아이디어 공모전 운영국(이하 "운영국"이라 합니다)는 서비스 이용시 이용자로부터 아래와 같은 개인
                                                        정보를 수집하고 있습니다.<br><br>1. 수집하는 개인정보의 항목 및 이용목적<br>1) 수집항목
                                                        (필수)<br>-  이름, 이메일<br>2) 수집목적<br>- 이용자 문의 접수 및 답변<br><br>2.
                                                        개인정보의 보유 및 이용기간<br>회원의 개인정보는 원칙적으로 문의 답변 후 3개월 이후 지체 없이
                                                        파기합니다.<br><br>※ 귀하는 필수항목 수집·이용에 대한 동의를 거부하실 수 있으나, 이는 서비스 제공에
                                                        필수적으로 수집해야 하는 정보이므로, 동의를 거부하실 경우 문의를 이용하실 수 없습니다.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination__btn flex-spc__cnt">
                                    <a href="javascript:void(0);" class="paging-btn__primary w-pct__49"
                                        onclick="confirm('문의가 등록되었습니다.\n운영국에서 확인 후 메일로 답변을 드리겠습니다.')">문의 등록</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="lang-cont__eng">
                    <ul class="tab-menu-list flex-box">
                        <li>
                            <a href="javascript:void(0);" class="tab-menu active"
                                onclick="showTabCont('about');">Summary</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="tab-menu" onclick="showTabCont('faq');">FAQ</a>
                        </li>
                        <li>
                            <a href="javascript:void(0);" class="tab-menu" onclick="showTabCont('qna');">Q&amp;A</a>
                        </li>
                    </ul> <!-- //tab menu -->
                    <figure class="tab-cont__about" style="display: block;">
                        <img src="../../content/images/eng/about-image.png" alt="공모요강 소개 이미지">
                        <a href="javascript:void(0);" class="cmn-btn__apply" onclick="openModal('modalLoginEng');"><span
                                class="txt-hidden">Apply</span></a>
                    </figure>
                    <div class="tab-cont__faq">
                        <ul class="faq-list">
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>Is there an age limit for eligibility to apply?</strong>
                                </button>
                                <div class="faq-list-txt" style="display: block;">
                                    <p>This contest is for young people, and individuals up to the age of 34 can apply.</p>
                                </div>
                            </li>
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>When applying for a team, how many team members can be formed?</strong>
                                </button>
                                <div class="faq-list-txt">
                                    <p>There is no limit on the number of team members. When filling out the application form, please write the role of each team member in the "role" field. If your team receive an award , please be informed that only up to 2 people per team can be benifited of certain awards.</p> <!-- 0702 2차 zoe 수정 -->
                                </div>
                            </li>
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>Can currently working indiviuals apply?</strong> <!-- 0702 2차 zoe 수정 -->
                                </button>
                                <div class="faq-list-txt">
                                    <p>Currently employed individuals can also apply. However, there must be no disruption to the participation in the competition program, such as mentoring, final presentation, and awards ceremony.</p> <!-- 0702 2차 zoe 수정 -->
                                </div>
                            </li>
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>If a team member is a foreigner, what is his/her eligibility?</strong> <!-- 0702 2차 zoe 수정 -->
                                </button>
                                <div class="faq-list-txt">
                                    <p>Any young Arabs living in Korea can apply regardless of age(up to 34), nationality, or gender.<br>When applying, please submit documents proving the person's legal residency in Korea. (alien registration card and visa must be submitted before expiration)</p> <!-- 0702 2차 zoe 수정 -->
                                </div>
                            </li>
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>Are there any priorities based on categories or countries?</strong> <!-- 0702 2차 zoe 수정 -->
                                </button>
                                <div class="faq-list-txt">
                                    <p>There is no priority for countries and categories. If you have a creative idea related to the Arab region, you can apply regardless of country or category.</p> <!-- 0702 2차 zoe 수정 -->
                                </div>
                            </li>
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>Does the intellectual property right of start-up items belong to the Korea-Arab Society?</strong>
                                </button>
                                <div class="faq-list-txt">
                                    <p>Ownership of intellectual property rights, etc. of startup ideas submitted to the competition belong to the participant, not to the Society.</p> <!-- 0702 2차 zoe 수정 -->
                                </div>
                            </li>
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>Can I apply for projects of startups I am working with (ideas that have not been awarded in other competitions)?</strong>
                                </button>
                                <div class="faq-list-txt">
                                    <p>Yes, you may apply. Your ideas must be reflected, and if you are not a startup representative (and an individual applying with a company's ideas), you must check whether there are any problems with intellectual property rights or patents.</p> <!-- 0702 2차 zoe 수정 -->
                                </div>
                            </li>
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>If the idea I have is at a stage that has not been fully materialized yet, can I apply for this competition?</strong> <!-- 0702 2차 zoe 수정 -->
                                </button>
                                <div class="faq-list-txt">
                                    <p>Even if the idea has not been materialized, you can apply for the ‘idea division’ by submitting a brief one-page proposal.<br>Upon passing the screening, there may be an opportunity to develop the idea through mentoring and presentation processes.</p> <!-- 0702 2차 zoe 수정 -->
                                </div>
                            </li>
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>Who will do the on-line mentoring?</strong> <!-- 0702 2차 zoe 수정 -->
                                </button>
                                <div class="faq-list-txt">
                                    <p>Experts from relevant organizations specializing in startup support and Arab market will participate. We will inform you in more details later in the process.</p> <!-- 0702 2차 zoe 수정 -->
                                </div>
                            </li>
                            <li>
                                <button class="faq-list-tit-box active">
                                    <strong class="faq-list-tit"><span class="idx">Q</span>What is the exact benefit of opportunity to visit the Dubai Expo?</strong> <!-- 0702 2차 zoe 수정 -->
                                </button>
                                <div class="faq-list-txt">
                                    <p>This is a benefit to be given to the 1st to 3rd place winning teams in the Startup division, and the 1st place team in the idea division. If the selected teams(up to 2 people per team) wish to visit Dubai, the benefit will be provided after thorough preparations for the visit have been made and the relevant procedures explained at a later time.<br>(*Dubai Expo 2021 to be held from October 2021 to March 2022)</p> <!-- 0702 2차 zoe 수정 -->
                                </div>
                            </li>
                        </ul>
                    </div>
                    <div class="tab-cont__qna">
                        <form>
                            <div class="grid720">
                                <div class="form-wrap">
                                    <div class="form-field">
                                        <div class="form-row pb30 txt-cnt">
                                            <p class="form-tip pl0">Please leave an inquiry regarding the
                                                competition.<br>It will be replied via email.</p>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-el-wrap__col flex-box">
                                                <label class="form-el-label" for="qnaNameEng">Name</label>
                                                <div class="form-el-box">
                                                    <input type="text" class="form-el form-input-txt" id="qnaNameEng">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-el-wrap__col flex-box">
                                                <label class="form-el-label" for="qnaEmailEng">E-mail</label>
                                                <div class="form-el-box">
                                                    <input type="email" class="form-el form-input-txt" id="qnaEmailEng"
                                                        placeholder="Please enter a correct email address.">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-row">
                                            <div class="form-el-wrap__col flex-box">
                                                <label class="form-el-label" for="qnaTxtEng">Inquiry</label>
                                                <div class="form-el-box">
                                                    <textarea class="form-el form-txtarea" id="qnaTxtEng"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="form-wrap pt0">
                                    <div class="form-field" style="border-top: 0;">
                                        <div class="form-row">
                                            <div class="form-el-wrap__row">
                                                <div class="form-chk__circ">
                                                    <input type="checkbox" id="qnaTermCheck">
                                                    <label class="form-chk-label" for="qnaTermCheck">I agree to the
                                                        collection and use of personal information.</label>
                                                </div>
                                                <div class="form-term-box mt30">
                                                    <p>Operation Secretariat for the Korea-Arab Startup Idea Pitch
                                                        Competition (hereinafter referred to as the "Operation
                                                        Secretariat") collects the following personal information from
                                                        users when using the service.<br><br>2. Period of retention and
                                                        use of personal information<br>In principle, the member's
                                                        personal information will be destroyed without delay after 3
                                                        months after answering the inquiry.<br><br>※ You may refuse to
                                                        consent to the collection and use of essential items, but since
                                                        this is information that is essential to providing services, you
                                                        cannot use the Q&A if you refuse to consent.</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="pagination__btn flex-spc__cnt">
                                    <a href="javascript:void(0);" class="paging-btn__primary w-pct__49"
                                        onclick="confirm('We will reply by email after confirming your inquiry.')">Send</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div> <!-- //grid -->
        </div> <!-- //content area -->
    </main>
    <!-- //main END -->
    <!-- footer START -->
    <footer>
        <div class="grid1100">
            <figure><img src="../../content/images/common/footer.png"
                    alt="copyright(c) korea-arab socierty all rights reserved."></figure>
            <a href="privacy.html" class="cmn-btn__footer"><span class="txt-hidden">개인정보처리방침 보러가기 버튼</span></a>
        </div>
    </footer>
    <!-- //footer END -->
    <!-- login modal START -->
    <div class="modal-area" id="modalLoginKor">
        <div class="modal-wrap__abs">
            <a href="javascript:void(0);" class="close-modal-btn" onclick="closeModal('modalLoginKor');"><span
                    class="txt-hidden">로그인 레이어 팝업 닫기</span></a>
            <div class="modal-hd">
                <h3 class="modal-hd-tit fs30">로그인</h3>
            </div>
            <div class="modal-cont">
                <ul class="modal-btn-box">
                    <li>
                        <a href="apply.html" class="modal-btn__login-naver"><span class="label fw500 fs20">네이버 계정으로
                                지원하기</span></a>
                    </li>
                    <li>
                        <a href="apply.html" class="modal-btn__login-kakao"><span class="label fw500 fs20">카카오 계정으로
                                지원하기</span></a>
                    </li>
                </ul>
                <p class="modal-cont-tit pt30 fw400 fs18">1인 1계정으로 신청해주세요.</p>
            </div>
        </div>
    </div>
    <div class="modal-area" id="modalLoginEng">
        <div class="modal-wrap__abs">
            <a href="javascript:void(0);" class="close-modal-btn" onclick="closeModal('modalLoginEng');"><span
                    class="txt-hidden">Close login modal</span></a>
            <div class="modal-hd">
                <h3 class="modal-hd-tit fs30">Login</h3>
            </div>
            <div class="modal-cont">
                <ul class="modal-btn-box">
                    <li>
                        <a href="apply.html" class="modal-btn__login-naver"><span class="label fw500 fs20">Apply with
                                NAVER account</span></a>
                    </li>
                    <li>
                        <a href="apply.html" class="modal-btn__login-kakao"><span class="label fw500 fs20">Apply with
                                Kakao account</span></a>
                    </li>
                </ul>
                <p class="modal-cont-tit pt30 fw400 fs18">Please apply with one account per person.</p>
            </div>
        </div>
    </div>
    <!-- //login modal END -->
    <!-- notice(winner) modal START (0910 zoe 추가) -->
    <div class="modal-area" id="modalNotice">
        <div class="modal-wrap__rlt">
            <a href="javascript:void(0);" class="close-modal-btn" onclick="closeModal('modalNotice');"><span class="txt-hidden">공지 레이어 팝업 닫기</span></a>
            <div class="modal-hd">
                <h3 class="modal-hd-tit fs30">서류 합격 결과 발표</h3>
            </div>
            <div class="modal-cont txt-cnt">
                <p class="modal-cont-txt fs18"><span class="txt-linebreak__mo">한-아랍 스타트업 공모전</span> 서류 전형 합격을 축하 드립니다.<br><span class="txt-linebreak__mo">합격자 분들에게는</span> 이후 진행 내용 및 일정 관련하여<br>개별적으로 연락드릴 예정입니다.<br><br>*팀명 / 대표자명 / 핸드폰번호 뒷 4자리</p>
                <dl class="modal-name-wrap fs20">
                    <dt class="fw700 fc-green">START-UP 부문</dt>
                    <dd>
                        <ul class="modal-name-list">
                            <li>Lonely night / 권*표 / 1288</li>
                            <li>주식회사 피엔피플래닝 / 백*영 / 9222</li>
                            <li>실라서울 / 신*섭 / 8436</li>
                            <li>올댓코리아 / 이*애 / 0617</li>
                            <li>콜렉티브 / 이*아 / 0737</li>
                        </ul>
                    </dd>
                </dl>
                <dl class="modal-name-wrap fs20">
                    <dt class="fw700 fc-green">IDEA 부문</dt>
                    <dd>
                        <ul class="modal-name-list">
                            <li>3endy / Mo**b B***salman / 8338</li>
                            <li>KALU / 김*석 / 1954</li>
                            <li>낭랑 23세 / 박*연 / 2253</li>
                            <li>야랍(yarab) / 방* / 2569</li>
                            <li>ANTI-V / 정*규 / 063)</li>
                        </ul>
                    </dd>
                </dl>
                <p class="modal-cont-txt pt50 fs18"><span class="txt-linebreak">지원해주신 모든 분들께 진심으로 감사드리며,</span> 함께 하지 못하는 분들께 아쉬운 마음 전합니다.<br><span class="txt-linebreak">앞으로도 한-아랍 스타트업 아이디어 공모전에</span> 많은 관심 부탁드립니다.</p>
            </div>
            <a href="http://korea-arab.org/?c=user&mcd=sub02_02&me=bbs_detail&idx=23575&cur_page=1&sParam=" target="_blank" title="배너 이미지에 연결된 페이지로 이동 (새 창)" class="modal-bnr"><img src="../../content/images/common/modal-notice-banner.jpg" alt="배너 이미지"></a>
        </div>
    </div>
    <!-- //notice(winner) modal END -->

    <script src="../../content/scripts/common.js"></script>
    <script>
        $(document).ready(function () {
            //tab menu event
            $(".tab-menu").each(function () {
                $(this).on("click", function (e) {
                    e.preventDefault();

                    var thisSiblings = $(this).parents("li").siblings("li").children(
                        ".tab-menu");

                    thisSiblings.removeClass("active");
                    $(this).addClass("active");
                });
            });

            //faq list event
            tglFaq();

            //close modal when click background
            closeBackmodal();

            //open notice modal
            openModal('modalNotice');
        });
    </script>
    <!-- Google Tag Manager (noscript) -->
    <noscript>
        <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-NZB5MZ4" height="0" width="0"
            style="display:none;visibility:hidden"></iframe>
    </noscript>
    <!-- //End Google Tag Manager (noscript) -->
</body>

</html>